@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
    <ul>
        <li>@Html.ActionLink("Reset Users Password", "Index", "Home")</li>
        <li>@Html.ActionLink("Delete User", "Index", "Home")</li>
        <li>@Html.ActionLink("Add User to Group", "Index", "Home")</li>
        <li>@Html.ActionLink("Edit Users Warehouses", "Index", "Home")</li>
    </ul>
